.own-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: flex-end;
  margin: 10px 0;
  margin-left: 10%;
  padding: 10px;
  max-width: fit-content;
  background-color: #cfedf9;
  border-radius: 0 0 0 10px;
}

.own-message:hover .controls {
  visibility: visible;
}

.controls {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  visibility: hidden;
}

.message-edit {
  margin-right: 10px;
}

.message-edit:hover, .message-delete:hover {
  color: black;
  cursor: pointer;
}