.message {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
  max-width: fit-content;
  background-color: #efefef;
  border-radius: 0 0 10px 0;
}

.message:hover .message-like, .message-liked {
  visibility: visible;
}

.message-user-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.message-info {
  display: flex;
  flex-direction: row;
  color: #898989;
  margin-bottom: 3px;
  font-size: small;
}

.message-user-name::after {
  content: ",";
}

.message-time::before {
  content: "\00a0";
}

.message-like, .message-liked {
  color: #898989;
  margin: 0 10px 0 15px;
  align-self: center;
}

.message-liked {
  color: #EA7A7A;
}

.message-like {
  visibility: hidden;
}

.message-like:hover, .message-liked:hover {
  color: black;
  cursor: pointer;
}