.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #cae1c4;
  width: 100%;
  max-width: 1000px;
  position: sticky;
  border-radius: 0 0 10px 10px;
  top: 0;
}

.header-left {
  display: flex;
  flex-direction: row;
}

.header-title {
  font-size: large;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 40px;
}

.header-users-count {
  margin-right: 40px;
}

.header-users-count::after {
  content: " participant(s)";
}

.header-messages-count::after {
  content: " message(s)";
}

.header-last-message-date {
  margin-right: 20px;
}

.header-last-message-date::before {
  content: "last message at ";
}